body {
    margin: 0;
    overflow: none;
    background: #000;
}

canvas {
    display: block;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset ease-out;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-linecap: round;
}
  
.progress-ring__satellite {
transition: 0.35s cx ease-out, 0.35s cy ease-out;
}
  
#loading-indicator {
transition: opacity 0.5s ease-out;
}